html{
    height: 100%;
}
body{
    text-align: center;
    font-family: sans-serif;
    max-width: 80%;
    margin:auto;
    background-color: bisque;
}


header{
    margin-top: 2rem;
}

.indiv{
    width: 300px;
    margin: auto auto;
    border-radius: 7px;
    height: 2rem;
    
}

#output-div{
    font-size: x-large;
}

button{
    margin: 3rem;
    color: black;
    border: 2px solid black;
    background-color:bisque ;
    cursor: pointer;
    border-radius: 0.2rem;

}



footer{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.links{
    display: inline;
}

img{
    width: 40px;
    padding: 0.2rem;
}